* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.header {
    background-color: #2D3B46;
    padding: 10px 20px;
    display: flex;
    gap: 40px;
    min-height: 70px;
}

.mainMenu {
    justify-content: flex-end;
}

.navLink {
    text-decoration: none;
    color: #DCD7DE;
    font-size: 18px;
}
.navLink:hover {
    color: #C42134;
}

/* navbar */
.navbar {
    align-items: center;
    padding: 10px 20px;
    display: flex;
    gap: 40px;
    min-height: 70px;
}


/* logo  */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    justify-content: flex-start;
}


/* ul  */
.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* media queries */

@media screen and (max-width: 780px) {

    /* hamburger */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #DCD7DE;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        right: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: #2D3B46;
        padding: 10px;
    }

    .navMenu.active {
        right: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
}