body {
  background-color: #F4F4F9;
}

@font-face {
  font-family: tengwar;
  src: url(src/assets/fonts/tengtelc.ttf);
}

@font-face {
  font-family: plantagenet;
  src: url(src/assets/fonts/PlantagenetCherokee.ttf);
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F4F4F9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #B8DBD9;
  border-color: #586F7C;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  text-align: center;
}

.main-card {
  margin: 1rem;
  position: relative;
}

.card {
  min-width: fit-content;
  text-align: center;
  padding: 1rem;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subcard {
  margin-inline: 5rem;
  text-align: left; 
  border: solid 0.25rem;
  border-color: black;
  border-radius: 0.25rem;
  padding: 0.25rem;
  overflow: hidden;
}

.aboutbtn {
  margin-top: 0.75rem;
  padding: 0.5rem
}

.experience-container {
  position: relative;
  width: 100%;
  height: 1000px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.timeline {
  position: relative;
  width: 2px;
  background-color: #333;
  height: 100%;
  /* Extend the timeline for the full duration */
  margin: 0 auto;
  /* Center it in the container */
}

.timeline-mark {
  position: absolute;
  left: -30px;
  /* Adjust based on your design */
  transform: translateY(-50%);
  /* Center each mark on its year */
  font-size: 12px;
  /* Year label font size */
}

.experience-entry {
  position: absolute;
  width: 45%;
  /* Adjust based on your design */
}

.left {
  left: 0;
  /* Position on the left side */
}

.right {
  right: 0;
  /* Position on the right side */
}

button.toolbar {
  border: 2px solid #162831;
  color: #162831;
  padding: 6px;
  margin: 1em;
  width: fit-content;
  border-radius: 8px;
  background-color: transparent;

}

button.is-active {
  border: 2px solid #CCC5B9;
  color: #CCC5B9;
  padding: 6px;
  margin: 1em;
  width: fit-content;
  border-radius: 8px;
  background-color: #919CAD;

}

@media (max-width: 768px) {
  .experience-entry {
    width: 100%;
    /* Make entries full-width */
    left: auto;
    /* Remove side positioning */
    left: 0;
    /* Position all entries on the right */
    margin-top: 5px;
    margin-bottom: 5px;
    /* Adds space between entries */
    height: fit-content;
  }

.timeline {
  display: none;
}
.left,
.right {
  /* Remove side-specific styles */
  left: auto;
  right: auto;
}
}