body {
  background-color: #F4F4F9;
}

@font-face {
  font-family: tengwar;
  src: url(src/assets/fonts/tengtelc.ttf);
}

@font-face {
  font-family: plantagenet;
  src: url(src/assets/fonts/PlantagenetCherokee.ttf);
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F4F4F9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #B8DBD9;
  border-color: #586F7C;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  text-align: center;
}

.main-card {
  margin: 1rem;
  position: relative;
}

.card {
  min-width: fit-content;
  text-align: center;
  padding: 1rem;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subcard {
  margin-inline: 5rem;
  text-align: left; 
  border: solid 0.25rem;
  border-color: black;
  border-radius: 0.25rem;
  padding: 0.25rem;
  overflow: hidden;
}

.aboutbtn {
  margin-top: 0.75rem;
  padding: 0.5rem
}

.experience-container {
  position: relative;
  min-height: 300px;
  margin: 3rem;
}

.timeline {
  position: relative;
  /* width: 100%; */
  height: 2px;
  background-color: #333;
  margin-bottom: 20px;
  /* Adds space below the timeline for the entries */
}

.timeline-mark {
  position: absolute;
  top: 0;
  /* Align marks to the top of the timeline */
  height: 20px;
  /* Height of the mark, extending upwards or downwards */
  width: 1px;
  /* Width of the mark */
  background-color: #333;
}

.year-label {
  position: absolute;
  bottom: 100%;
  /* Places year labels below the timeline */
  left: 50%;
  /* Center align the label with the mark */
  transform: translateX(-50%);
  margin-bottom: 5px;
  /* Adjust based on your design for spacing between marks and labels */
  font-size: 12px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  z-index: 1001;
}

.experience-card {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
}

.experience-entry {
  position: absolute;
  top: 30px;
  /* Adjust based on your layout, ensures entries appear below the timeline */
  width: 200px;
  /* Adjust as needed */
  transform: translateX(-50%);
  /* Centers the content based on the timeline mark */
  padding: 10px;
  /* Optional padding for styling */
  box-sizing: border-box;
  /* Ensures padding doesn't add to the width */
  background: #f0f0f0;
  /* Optional background for visibility */
  border-radius: 4px;
  /* Optional border radius for styling */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional shadow for depth */
}

/* Add additional styling here for typography, responsiveness, etc. */
.experience-entry h3 {
  text-decoration: underline;
}

.experience-entry ul {
  padding-left: 1rem;
  list-style-type: circle;
  text-indent: 1rem;
}

.experience-entry a {
  color: black;
}

button.toolbar {
  border: 2px solid #162831;
  color: #162831;
  padding: 6px;
  margin: 1em;
  width: fit-content;
  border-radius: 8px;
  background-color: transparent;

}

button.is-active {
  border: 2px solid #CCC5B9;
  color: #CCC5B9;
  padding: 6px;
  margin: 1em;
  width: fit-content;
  border-radius: 8px;
  background-color: #919CAD;

}