body {
  background-color: #F4F4F9;
}

@font-face {
  font-family: tengwar;
  src: url(src/assets/fonts/tengtelc.ttf);
}

@font-face {
  font-family: plantagenet;
  src: url(src/assets/fonts/PlantagenetCherokee.ttf);
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F4F4F9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #B8DBD9;
  border-color: #586F7C;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  text-align: center;
}

.main-card {
  margin: 1rem;
}

.card {
  min-width: fit-content;
  text-align: center;
  padding: 1rem;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subcard {
  margin-inline: 5rem;
  text-align: left; 
  border: solid 0.25rem;
  border-color: black;
  border-radius: 0.25rem;
  padding: 0.25rem;
  overflow: hidden;
}

.aboutbtn {
  margin-top: 0.75rem;
  padding: 0.5rem
}